<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Böbrek Taşı Tespit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>💎 Böbrek Taşı Tespit Uygulaması</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".jpg,.jpeg,.png,.dcm" required>
      <button type="submit">Tahmin Et</button>
    </form>

    {% if result %}
      <h2>🔎 Tahmin: <span>{{ result }}</span></h2>
      <p>Güven: {{ "%.2f"|format(confidence) }}</p>
    {% endif %}
  </div>
</body>
</html>

